.portfolio .container
{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner
{
    position: relative;
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
   
}
.portfolio .portfolio-item-inner:hover .portfolio-demo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;  
    display: block;
}
.portfolio .portfolio-item-inner .portfolio-demo
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: block; */
    background: var(--bg-black-900);
    display: none;
}
.portfolio .portfolio-item-inner .portfolio-demo a
{
    height: 60px;
    width: 200px;
    background: var(---black-100);
    border: 1px solid var(--skin-color);
    border-radius: 30px;
    display: block;
    line-height: 60px;
    text-align: center;
    color: var(--skin-color);
    font-size: 26px;
}